<nav id="nav">

    <a href="index.php?page=accueil"><img src="images/menu/menu_accueil.png" alt="accueil" id="menu1"></a>
    <a href="index.php?page=club"><img src="images/menu/menu_club.png" alt="club" id="menu2"></a>
    <a href="index.php?page=membres"><img src="images/menu/menu_membres.png" alt="membres" id="menu3"></a>
    <a href="index.php?page=liens"><img src="images/menu/menu_liens.png" alt="liens" id="menu4"></a>
    <a href="index.php?page=actualites"><img src="images/menu/menu_actualites.png" alt="actualites" id="menu5"></a>

  </ul>
</nav>
